:root {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    /*font-weight: 400;*/

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #171717;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[x-cloak] { display: none !important; }

body, html {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
}


/*************
 *** Home
 *************/

main#home {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    flex-direction: column;
    height:100%;
    min-height:100%;

    div.copy {
        padding: 12px;
        text-align: center;
        line-height: 1.8;
        font-size: 14px;

        strong {
            font-size: 18px;
        }
    }

    div.content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 80px;
    }

    footer {
        padding-bottom: 16px;


        a, a:visited {
            display: flex;
            justify-content: center;
            gap: 8px;
            color: #505050;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 900;
            letter-spacing: 2px;
            text-decoration: none;
        }
        svg {
            display: inline-flex;
            fill: #E41D1D;
        }

        a:hover {
            color: #E41D1D;

            svg {
                fill: white;
            }
        }
    }

    p.online {
        font-size: 12px;
        font-weight: bold;
    }
}





nav button, a.button {
    display: block;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-size: 32px;
    font-weight: 900;
    padding: 10px;
    width: 280px;
    text-decoration: none;
    border: 0;
    outline: 0;
    background: #E41D1D;
    color: #fff;
    transform: skew(-21deg);
    -webkit-box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.6);
    cursor: pointer;
    text-align: center;
}

a.button span {
    display: block;
}

nav button,
nav button:visited,
nav button:active,
nav button:hover,
nav button:link,
a.button,
a.button:visited,
a.button:active,
a.button:hover,
a.button:link {
    color: white;
}

nav button:hover, a.button:hover {
    transform: translate(5px, 5px) skew(-21deg);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
}

nav button span, a.button span {
    transform: skew(21deg);
}

/*************
 *** Race
 *************/
main#game {
    display: block;
    position: relative;
    margin: auto;
    max-width: 768px;
    height:100%;
    min-height:100%;
    user-select: none;

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
        padding: 16px 8px 0 8px;
        font-size: 12px;
        font-weight: 900;
        max-width: 768px;
        position: fixed;
        top: 0;
        height: 50px;

        div.info {
            padding-left: 3px;
            line-height: 1;
        }

        div.dashboard {
            font-size: 16px;
            div {
                display: flex;
                align-items: flex-end;
                width: 200px;
                gap: 20px;
                margin-bottom: 6px;
            }

            span.label {
                font-size: 10px;
                text-transform: uppercase;
                font-weight: 900;
                color: #E41D1D;
                width: 25px;
            }
        }

        div.track-name {
            display: flex;
            align-items: center;
            gap: 12px;
            text-transform: uppercase;
        }

        span.waiting {
            color: #505050;
        }

        span.ready {
            /*color: #E41D1D;*/
            text-transform: uppercase;
            font-weight: 900;
            font-size: 14px;
        }

        span.go {
            color: #E41D1D;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 16px;
        }

        span.finished {
            a {
                color: #E41D1D;
            }
        }
    }

    div#race {
        position: relative;
        width: 327px;
        height: 685px;
        margin: auto;
        transform: translate3d(0, 50px, 0);
        transform-origin: 50% 50%;
    }

    div#result {
        position: relative;
        width: 327px;
        height: 685px;
        margin: auto;
        display: flex;
        transform: translate3d(0, 150px, 0);
        align-items: center;
        justify-content: start;
        flex-direction: column;

        h2 {
            font-size: 48px;
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1;
            display: flex;
            justify-content: center;
            gap: 8px;
        }

        div.data {
            margin-top: 20px;
            margin-bottom: 60px;
        }

        div.data div {
            display: flex;
        }

        div.data div span {
            width: 100px;
            color: #505050;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 14px;
        }

        div.data div small {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 14px;
            color: white;
        }
    }

    @media (min-width:650px) {
        div#race {
            margin: 0 auto;
            transform: rotate3d( 0, 0, 1, 35deg) translate3d(0, 50px, 0);
        }
    }

    img.car {
        position: absolute;
        width: 25px;
        height: 26px;
        top: -13px;
        left: -12px;
        pointer-events: none;
        user-select: none;
        backface-visibility: hidden;
    }

    canvas#track {
        width: 327px;
        height: 685px;
    }
}
